@RenderSection("Headers")

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="width:100%;position:relative">
    <div style="text-align:center">
        <table style="border:1px solid #e3e3e3; width:640px;font-family:sans-serif;font-size:15px;color:#8a8a8a;padding:15px;">
            @RenderBody()
        </table>
    </div>
</body>
</html>
