<div class="jumbotron">

    @{
        if (ViewBag.User == null)
        {
            <h1>You aren't logged in</h1>
        }
        else
        {
            <h1>You are logged in as <b>@ViewBag.User.UserName</b></h1>
            <h5>@Html.ActionLink("Log off", "Logoff", "Login")</h5>
        }
    }
</div>
